{% extends 'index.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<h2>Event Details</h2> 
<table>
    <thead>
        <tr>
        <th>Rank</th>
        <th>Country</th>
        <th>Medal</th>
        <th>Gold</th>
        <th>Silver</th>
        <th>Bronze</th>
        </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.rank }}</td> 
            <td>{{ result.athlete.country.country_name }}</td> 
            <td>{{ result.medal }}</td>
           <td>{{ gold }}</td>
           <td>{{silver}}</td>
              <td>{{bronze}}</td>
            

            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
