{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>Medal Table</h1>
<table>
    <tr>
        <th>Flag</th>
        <th>Country</th>
        <th>Gold</th>
        <th>Silver</th>
        <th>Bronze</th>
    </tr>
    {% for medal in country_medals %}
    <tr>
        <td><img src="{% static medal.country_flag %}" alt="flag" style="width:100px;height:100px;"></td>
        <td>{{ medal.country }}</td>
        <td>{{ medal.gold_medals }}</td>
        <td>{{ medal.silver_medals }}</td>
        <td>{{ medal.bronze_medals }}</td>
        <td>{{ medal.total_medals }}</td>
        {% for athlete in medal.athletes %}
        {{ athlete.athlete_name }}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}