{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>Schedule</h1>
{% for session in sessions %}
{{session}}
<h3>Day: {{ session.day }} - {{ session.time }}</h3>
<p>Events:</p>
<ul>
    {% for event in session.event.all %}
        <li>{{ event.event_name }}
            <p>Gender: {{ session.get_gender_display }}</p> 
            <p>Stage: {{ event.stage }}</p>
            {% for result in results %}
                {% if result.event == event %}
                    <p>Classification {{ result.athlete.classification }}</p>
                
                {% endif %}
                <p>Classification: {{ result.athlete.classification }}</p>
            {% endfor %}
            <a href="{% url 'event-detail' event.id %}">View Results</a> 
        </li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}