.bg {
    background-color: #232323;
}

hr {
    border-top: 1px solid #ffffff;
}

body {
    margin-top: 80px;
    margin-right: 10vh;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #232323;
}

body {
    color: white;
}

svg {
    width: 20px;
    height: 20px;
}

.margintext {
    padding-right: 5vh;
    padding-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.event-name-margintext {
    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* border-left: 1px solid #ccc; */
    width: 20vh;
    /* color: rgb(205, 159, 50); */
}

.table-rank-margintext {
    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.table-margintext {
    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.table-name-margintext {
    width: 20vh;
    padding-right: 20vh;
    padding-left: 20vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}